@import "./base";
@import "./text";
@import "./anim";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.disable-scroll {
    overflow: hidden;
}

.mask_test,
.mask_test-1,
.mask_test-2,
.mask_test-3,
.mask_test-4,
.mask_test-5,
.mask_test-6,
.mask_test-7,
.mask_test-8 {
    background-color: rgba(1, 1, 1, 0.85);
    position: fixed;
    width: 100vw;
    height: 110vh;
    display: none;
}

.mask_test.active,
.mask_test-1.active,
.mask_test-2.active,
.mask_test-3.active,
.mask_test-4.active,
.mask_test-5.active,
.mask_test-6.active,
.mask_test-7.active,
.mask_test-8.active {
    display: block;
    z-index: 5;
    cursor: zoom-out;
    animation: open 0.7s;
}

@keyframes open {
    0% {
        display: block;
        opacity: 0;
        visibility: hidden;
    }
    100% {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

::-webkit-scrollbar {
    width: 0;
}

// MAIN SCREEN
.offer_enroll {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    display: none;
    .frame {
        width: 550px;
        background-color: $yellow-color;
        border-radius: 42px;
        height: 660px;
        padding: 70px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        &-close {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
        &-title h1 {
            font-size: 34px;
            font-weight: 700;
            color: $gray-color;
            width: 373px;
        }
        &-form {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            &-field {
                display: flex;
                align-items: center;
                input[type="text"],
                input[type="tel"],
                input[type="mail"] {
                    width: 390px;
                    height: 67px;
                    font-size: 16px;
                    margin-bottom: 20px;
                    border-radius: 20px;
                    font-weight: 500;
                    padding-left: 24px;
                    border-radius: 20px;
                    border: 1px solid rgba(0, 0, 0, 0.33);
                    background-color: rgba(255, 255, 255, 0.69);
                    color: #37474f;
                }
            }
        }
        form button {
            padding: 15px 20px;
            border-radius: 20px;
            color: #fff;
            font-weight: 600;
            font-size: 15px;
            background-color: $purple-color;
            margin-top: 20px;
            border: none;
        }
        form button:hover {
            background-color: #833ce0;
            color: rgb(219, 219, 219);
            cursor: pointer;
        }
        &-socials {
            margin-top: 20px;
            text-align: center;
            display: flex;
            justify-content: space-between;
            width: 85px;
        }
        &-rules {
            width: 343px;
            color: rgba(55, 71, 79, 0.61);
            position: absolute;
            bottom: 20px;
            a {
                color: rgba(55, 71, 79, 0.61);
            }
            a:hover {
                text-decoration: none;
                color: rgba(55, 71, 79, 0.91);
            }
        }
    }
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 60px 30px 60px;
    &-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        position: fixed;
        padding-left: 60px;
        height: 70px;
        .links {
            display: flex;
            flex-direction: row-reverse;
            .button {
                background-color: $yellow-color;
                padding: 10px 28px;
                border-radius: 21px;
                color: $button-text-color;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                transition: 0.2s;
            }
            @extend %header_button;
            ul {
                display: flex;
                list-style: none;
                align-items: center;
                li a {
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 15px;
                    text-transform: uppercase;
                    color: $gray-color;
                    transition: 0.2s;
                    margin-left: 21px;
                }
                @extend %header_links;
            }
        }
        transform: translate(120%, 0);
        display: 0;
        transition: all 0.8s ease 0s;
    }
    &-header.scroll {
        z-index: 1000;
        background-color: #000000d8;
        .links ul li a {
            color: rgb(212, 212, 212);
        }
    }
    &-header._active {
        transform: translate(0, 0);
        opacity: 1;
    }
    &-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 100px;
        transition: all 0.8s ease 0s;
        .text {
            margin-top: 130px;
            img {
                width: 80%;
                margin-bottom: 10px;
            }
            p {
                @extend %paragraph;
                margin-bottom: 50px;
            }
            .button {
                padding: 18px 84px;
                background-color: $yellow-color;
                border: none;
                align-items: center;
                text-align: center;
                border-radius: 55px;
                font-weight: 700;
                font-size: 15px;
                color: $button-text-color;
                text-transform: uppercase;
                transition: 0.2s;
            }
            @extend %anim_on_button;
            transform: translate(0, 120%);
            opacity: 0;
            transition: all 0.8s ease 0s;
        }
        .text._active {
            transform: translate(0, 0);
            opacity: 1;
        }
        .img {
            transform: scale(0%);
            transition: all 0.8s ease 0s;
            opacity: 0;
        }
        .img._active {
            transform: scale(100%);
            opacity: 1;
        }
    }
    overflow: hidden;
}

.offer_enroll.active {
    display: flex;
    z-index: 50;
    top: 0;
}

.offer-header.active {
    filter: blur(5px);
}

.offer-content.active {
    filter: blur(5px);
}

//1440px
//COMMENT, INSPIRATION
.inspiration {
    background-color: $yellow-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 230px;
    overflow: hidden;
    &-offer {
        width: 832px;
        h1 {
            font-weight: 900;
            font-size: 54px;
            text-transform: uppercase;
            color: $button-text-color;
            margin-bottom: 20px;
        }
        p {
            @extend %paragraph;
        }
        P:first-child {
            margin-bottom: 15px;
        }
        transform: translate(120%, 0);
        opacity: 0;
        transition: all 0.8s ease 0s;
    }
    &-offer._active {
        transform: translate(0, 0);
        opacity: 1;
    }
    &-image {
        width: 22%;
        img {
            width: 100%;
        }
        transform: translate(-120%, 0);
        opacity: 0;
        transition: all 0.8s ease 0s;
    }
    &-image._active {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.inspiration.active {
    filter: blur(5px);
}

//1440px
//COURSES, OPTIONS
.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    .courses-title {
        margin-top: 77px;
        transform: translate(0, -120%);
        opacity: 0;
        transition: all 0.8s ease 0s;
        h1 {
            @extend %sections_header;
        }
    }
    .courses-title._active {
        transform: translate(0, 0);
        opacity: 1;
    }
    &-english,
    &-chinese,
    &-additional {
        text-align: center;
        .title {
            h2 {
                @extend %add_header;
            }
            margin-top: 50px;
            margin-bottom: 30px;
            transform: translate(0, -120%);
            opacity: 0;
            transition: all 0.8s ease 0s;
        }
        .title._active {
            transform: translate(0, 0);
            opacity: 1;
        }
        .options {
            align-items: center;
            display: flex;
            justify-content: space-around;
            position: relative;
            transform: translate(0, -120%);
            opacity: 0;
            transition: all 0.8s ease 0.5s;
        }
        .options._active {
            transform: translate(0, 0);
            opacity: 1;
        }
        .route {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 298px;
            height: 199px;
            justify-content: space-around;
            padding: 10px;
            border-radius: 30px;
            color: $button-text-color;
            margin-right: 80px;
            position: relative;
            transition: 1s ease-out;
            &_title {
                display: flex;
                flex-direction: column;
                &-main {
                    font-weight: 800;
                    font-size: 25px;
                    text-transform: initial;
                    position: relative;
                    line-height: 21px;
                    &-line {
                        width: 100%;
                        height: 7px;
                        background-color: $yellow-color;
                        position: absolute;
                        z-index: -1;
                        bottom: 0;
                    }
                }
                &-year {
                    font-weight: 600;
                    font-size: 13px;
                    color: #263238cf;
                }
            }
            &_level {
                font-weight: 600;
                font-size: 23px;
            }
            &_time {
                font-weight: 800;
                font-size: 23px;
                span {
                    font-size: 21px;
                }
            }
            .front,
            .back {
                position: absolute;
                overflow: hidden;
                width: 298px;
                height: 199px;
                backface-visibility: hidden;
                background-color: #fff;
                border-radius: 30px;
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 5px rgba(0, 0, 0, 0.22);
            }
            .front {
                transform: perspective(600px) rotateY(0deg);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                cursor: pointer;
            }
            .back {
                transform: perspective(600px) rotateY(540deg);
                padding: 20px 20px;
                height: auto;
                background-color: #9a5fe5;
                // z-index: 1;
                &-title {
                    font-weight: 800;
                    font-size: 25px;
                    color: rgb(248, 240, 250);
                }
                &-list {
                    font-weight: 600;
                    font-size: 17px;
                    text-align: left;
                    color: rgb(228, 206, 233);
                }
                &-price {
                    font-weight: 800;
                    bottom: 30px;
                    right: 30px;
                    position: absolute;
                    text-align: right;
                    color: rgb(248, 240, 250);
                    font-size: 25px;
                }
                &-exit,
                &-exit_1,
                &-exit_2,
                &-exit_b1,
                &-exit_child,
                &-exit_adult,
                &-exit_talking,
                &-exit_theatre,
                &-exit_olimp {
                    color: red;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    font-size: 1.5rem;
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                        color: rgb(168, 0, 0);
                    }
                }
            }
            .back.scale {
                width: 200%;
                height: 280%;
            }
            .back-content {
                width: 100%;
                height: 100%;
                text-align: left;
                color: #333333;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            @keyframes scale {
                from {
                    width: 298px;
                    height: 199px;
                }
                to {
                    width: 200%;
                    height: 280%;
                }
            }
            .front_starters.active,
            .front_a1.active,
            .front_a2.active,
            .front_b1.active,
            .front_child.active,
            .front_adult.active,
            .front_talking.active,
            .front_theatre.active,
            .front_olimp.active {
                transform: perspective(600px) rotateY(-540deg);
                transition: 0.9s ease-out;
                z-index: 99;
                animation: 0.7s linear scale;
            }
            .back_starters.active,
            .back_a1.active,
            .back_a2.active,
            .back_b1.active,
            .back_child.active,
            .back_adult.active,
            .back_talking.active,
            .back_theatre.active,
            .back_olimp.active {
                transform: perspective(600px) rotateY(0deg);
                transition: 0.9s ease-out;
                z-index: 99;
                animation: 0.7s linear scale;
            }
        }
        .route:last-child {
            margin-right: 0px;
        }
        .route.active,
        .route.a1.active,
        .route.a2.active,
        .route.a3.active,
        .route.child.active,
        .route.adult.active,
        .route.talking.active,
        .route.theatre.active,
        .route.olimp.active {
            z-index: 10;
        }
    }
    &-english.active,
    &-chinese.active,
    &-additional.active {
        z-index: 1;
    }
}

.courses-english{
    .front_starters{
        .route_title{
            align-items: center;
            &-main{
                width: 160px;
            }
        }
    }
    .front_a1{
        .route_title{
            align-items: center;
            &-main{
                width: 170px;
            }
        }
    }
    .front_a2{
        .route_title{
            align-items: center;
            &-main{
                width: 190px;
            }
        }
    }
    .front_b1{
        .route_title{
            align-items: center;
            &-main{
                width: 143px;
            }
        }
    }
}

.courses-chinese{
    .front_child{
        .route_title{
            align-items: center;
            &-main{
                width: 70px;
            }
        }
    }
    .front_adult{
        .route_title{
            align-items: center;
            &-main{
                width: 134px;
            }
        }
    }
}

.courses.active {
    filter: blur(5px);
    transition: 0.4s;
}

//1440px
//BENEFITS, WHY US?
.benefit {
    text-align: center;
    padding: 0 170px;
    overflow: hidden;
    &-title {
        h1 {
            @extend %sections_header;
        }
        margin-top: 77px;
        transform: translate(0, -120%);
        opacity: 0;
        transition: all 0.8s ease 0.2s;
    }
    &-title._active {
        transform: translate(0, 0);
        opacity: 1;
    }
    &-offer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .list {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 545px;
            margin-top: 90px;
            transform: translate(120%, 0);
            opacity: 0;
            transition: all 0.8s ease 0.2s;
            &_one,
            &_two,
            &_three,
            &_four {
                box-shadow: 0 0 10px 5px rgb(241, 241, 241);
                padding: 39px 78px 39px 135px;
                display: flex;
                align-items: center;
                border-radius: 50px;
                @extend %paragraph;
                text-transform: initial;
                position: relative;
                &-number {
                    position: absolute;
                    left: 0;
                    font-weight: 700;
                    font-size: 46px;
                    color: $button-text-color;
                    padding: 24px 38px;
                    background-color: $yellow-color;
                    border-radius: 50px;
                }
            }
        }
        .list._active {
            transform: translate(0, 0);
            opacity: 1;
        }
        .img {
            transform: translate(-120%, 0);
            opacity: 0;
            transition: all 0.8s ease 0.2s;
        }
        .img._active {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}

//1440px
//ACHIEVEMENTS, SERTIFICATES
.sertificates {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 50px 0;
    &-slider {
        display: flex;
        align-items: center;
        transform: scale(0%);
        opacity: 0;
        transition: all 0.8s ease 0.2s;
        .slide {
            text-align: center;
            @extend %paragraph;
            font-size: 15px;
            text-transform: initial;
            transition: 0.2s;
            display: none;
            img {
                transition: 1s;
                width: 248px;
                height: 185px;
                pointer-events: none;
            }
        }
        .slide:hover {
            opacity: 1;
            transition: 0.4s;
        }
        .slide.current {
            @extend %paragraph;
            text-transform: initial;
            display: block;
            margin: 0 40px;
            img {
                width: 623px;
                height: 450px;
            }
            img.vertical {
                width: 480px;
                height: 570px;
            }
        }
    }
    &-slider._active {
        opacity: 1;
        transform: scale(100%);
    }
    .left_arrow_button {
        cursor: pointer;
        font-size: 4rem;
        color: $button-text-color;
        transition: 0.4s;
        transform: translate(-150%, 0);
        opacity: 0;
        transition: all 0.8s ease 0.5s;
    }
    .left_arrow_button._active {
        opacity: 1;
        transform: translate(0, 0);
    }
    .right_arrow_button {
        cursor: pointer;
        font-size: 4rem;
        color: $button-text-color;
        transition: 0.4s;
        transform: translate(150%, 0);
        opacity: 0;
        transition: all 0.8s ease 0.5s;
    }
    .right_arrow_button._active {
        opacity: 1;
        transform: translate(0, 0);
    }
    .left_arrow_button:hover {
        color: $purple-color;
        transition: 0.4s;
    }
    .right_arrow_button:hover {
        color: $purple-color;
        transition: 0.4s;
    }
}

//1440px
//FACTS, COOPERATION
.cooperation {
    background-color: $yellow-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transform: translate(-120%, 0);
    opacity: 0;
    transition: all 0.8s ease 0.2s;
    .publishers {
        display: flex;
        align-items: baseline;
        justify-content: center;
        font-weight: 700;
        font-size: 23px;
        border-bottom: 1px solid rgba(18, 18, 18, 0.2);
        width: 100%;
        color: $button-text-color;
        padding: 43px 507px;
        text-align: center;
        img{
            width: 14px;
            margin-left: 5px;
        }
        &-tooltip {
            background-color: $purple-color;
            color: $white-color;
            letter-spacing: 1px;
            font-weight: 600;
            border-top: 1px solid rgb(87, 87, 87);
            border-bottom: 1px solid rgb(87, 87, 87);
            position: absolute;
            width: 100%;
            top: 0;
            display: none;
            align-items: center;
            justify-content: center;
            padding: 43px 507px;
        }
        &-tooltip.active {
            background-color: $purple-color;
            display: flex;
        }
    }
    .education {
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: center;
        font-weight: 700;
        font-size: 23px;
        color: $button-text-color;
        padding: 43px 404px;
        text-align: center;
        img{
            width: 14px;
            margin-left: 5px;
        }
        &-tooltip {
            animation: movingBoxBottom 0.4s;
            background-color: $purple-color;
            color: $white-color;
            font-weight: 600;
            border-bottom: 1px solid rgb(87, 87, 87);
            border-top: 1px solid rgb(87, 87, 87);
            position: absolute;
            padding: 42px 94px;
            bottom: 0;
            display: none;
            align-items: center;
            justify-content: center;
            padding: 43px 94px;
            width: 100%;
        }
        &-tooltip.active {
            background-color: $purple-color;
            display: flex;
        }
    }
}

.cooperation._active {
    transform: translate(0, 0);
    opacity: 1;
}

//1440px
//TEACHERS
.teachers {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
        h1 {
            @extend %sections_header;
        }
        margin: 77px 0 30px 0;
        transform: translate(0, 120%);
        opacity: 0;
        transition: all 0.8s ease 0.2s;
    }
    &-title._active {
        transform: translate(0, 0);
        opacity: 1;
    }
    .professors-first {
        width: 482px;
        height: 658px;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        &-avatar {
            position: absolute;
            top: -3px;
        }
        &-name {
            border-radius: 50px;
            background-color: $yellow-color;
            @extend %paragraph;
            color: $button-text-color;
            padding: 10px 32px;
            text-transform: initial;
            margin-bottom: 40px;
            z-index: 1;
        }
        &-submenu {
            width: 480px;
            height: 254px;
            background-color: $yellow-color;
            background-color: rgba(255, 198, 41, 0.93);
            border-radius: 50px;
            margin-bottom: 0px;
            padding: 38px 36px 35px 36px;
            font-weight: 600;
            font-size: 26px;
            z-index: 1;
            // display: flex;
            display: none;
            flex-direction: column;
            justify-content: space-around;
            h1 {
                font-weight: 700;
                font-size: 30px;
                color: $button-text-color;
            }
            p {
                font-weight: 500;
                font-size: 20px;
                color: $button-text-color;
                span {
                    font-weight: 700;
                    font-size: 20px;
                }
            }
            .direction {
                &_title {
                    font-weight: 700;
                    font-size: 20px;
                    color: $button-text-color;
                }
                &_options {
                    font-weight: 500;
                    font-size: 20px;
                    color: $button-text-color;
                    font-style: italic;
                }
            }
        }
    }
    .professors-second {
        width: 482px;
        height: 658px;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        &-avatar {
            position: absolute;
            top: -3px;
        }
        &-name {
            border-radius: 50px;
            background-color: $yellow-color;
            @extend %paragraph;
            color: $button-text-color;
            padding: 10px 32px;
            text-transform: initial;
            margin-bottom: 40px;
            z-index: 1;
        }
        &-submenu {
            width: 480px;
            height: 254px;
            background-color: $yellow-color;
            background-color: rgba(255, 198, 41, 0.93);
            border-radius: 50px;
            margin-bottom: 0px;
            padding: 38px 36px 35px 36px;
            font-weight: 600;
            font-size: 26px;
            // display: flex;
            display: none;
            flex-direction: column;
            justify-content: space-around;
            z-index: 1;
            h1 {
                font-weight: 700;
                font-size: 30px;
                color: $button-text-color;
            }
            p {
                font-weight: 500;
                font-size: 20px;
                color: $button-text-color;
                span {
                    font-weight: 700;
                    font-size: 20px;
                }
            }
            .direction {
                &_title {
                    font-weight: 700;
                    font-size: 20px;
                    color: $button-text-color;
                }
                &_options {
                    font-weight: 500;
                    font-size: 20px;
                    color: $button-text-color;
                    font-style: italic;
                }
            }
        }
    }
    .professors-third {
        width: 482px;
        height: 658px;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        &-avatar {
            position: absolute;
            top: -3px;
        }
        &-name {
            border-radius: 50px;
            background-color: $yellow-color;
            @extend %paragraph;
            color: $button-text-color;
            padding: 10px 32px;
            text-transform: initial;
            margin-bottom: 40px;
            z-index: 1;
        }
        &-submenu {
            width: 480px;
            height: 254px;
            background-color: $yellow-color;
            background-color: rgba(255, 198, 41, 0.93);
            border-radius: 50px;
            margin-bottom: 0px;
            padding: 38px 36px 35px 36px;
            font-weight: 600;
            font-size: 26px;
            // display: flex;
            display: none;
            flex-direction: column;
            justify-content: space-around;
            z-index: 1;
            h1 {
                font-weight: 700;
                font-size: 30px;
                color: $button-text-color;
            }
            p {
                font-weight: 500;
                font-size: 20px;
                color: $button-text-color;
                span {
                    font-weight: 700;
                    font-size: 20px;
                }
            }
            .direction {
                &_title {
                    font-weight: 700;
                    font-size: 20px;
                    color: $button-text-color;
                }
                &_options {
                    font-weight: 500;
                    font-size: 20px;
                    color: $button-text-color;
                    font-style: italic;
                }
            }
        }
    }
    .professors-fourth {
        width: 482px;
        height: 658px;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        &-avatar {
            position: absolute;
            top: -3px;
        }
        &-name {
            border-radius: 50px;
            background-color: $yellow-color;
            @extend %paragraph;
            color: $button-text-color;
            padding: 10px 32px;
            text-transform: initial;
            margin-bottom: 40px;
            z-index: 1;
        }
        &-submenu {
            width: 480px;
            height: 254px;
            background-color: $yellow-color;
            background-color: rgba(255, 198, 41, 0.93);
            border-radius: 50px;
            margin-bottom: 0px;
            padding: 38px 36px 35px 36px;
            font-weight: 600;
            font-size: 26px;
            // display: flex;
            display: none;
            flex-direction: column;
            justify-content: space-around;
            z-index: 1;
            h1 {
                font-weight: 700;
                font-size: 30px;
                color: $button-text-color;
            }
            p {
                font-weight: 500;
                font-size: 20px;
                color: $button-text-color;
                span {
                    font-weight: 700;
                    font-size: 20px;
                }
            }
            .direction {
                &_title {
                    font-weight: 700;
                    font-size: 20px;
                    color: $button-text-color;
                }
                &_options {
                    font-weight: 500;
                    font-size: 20px;
                    color: $button-text-color;
                    font-style: italic;
                }
            }
        }
    }
    &-slider {
        position: relative;
        overflow: hidden;
        width: 80%;
        transform: translate(0, 50%);
        opacity: 0;
        transition: all 0.8s ease 0.4s;
    }
    &-slider._active {
        transform: translate(0, 0);
        opacity: 1;
    }
    .slider__wrapper {
        display: flex;
        transition: transform 0.6s ease;
    }
    .slider__item {
        flex: 0 0 30%;
        max-width: 33%;
        margin-right: 40px;
    }
    .slider__item:last-child {
        margin-right: 0px;
    }
    .slider__control {
        position: absolute;
        top: 50%;
        display: none;
        align-items: center;
        justify-content: center;
        width: 40px;
        color: #fff;
        text-align: center;
        opacity: 0.5;
        height: 50px;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
    }
    .slider__control_show {
        display: flex;
    }
    .slider__control:hover,
    .slider__control:focus {
        color: #fff;
        text-decoration: none;
        outline: 0;
        opacity: 0.9;
    }
    .slider__control_left {
        left: 0;
    }
    .slider__control_right {
        right: 0;
    }
    .slider__control::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: transparent no-repeat center center;
        background-size: 100% 100%;
    }
    .slider__control_left::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    .slider__control_right::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
}

.gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
        h1 {
            @extend %sections_header;
        }
        margin: 77px 0 30px 0;
        transform: translate(0,
        120%);
        opacity: 0;
        transition: all 0.8s ease 0.2s;
    }
    &-title._active {
        transform: translate(0, 0);
        opacity: 1;
    }
    &-list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        font-size: 0;
        border-radius: 30px;
        width: 80%;
        transform: translate(0, 30%);
        opacity: 0;
        transition: all 0.8s ease 0.2s;
        .gallery-item {
            display: block;
            flex: 20%;
            overflow: hidden;
            position: relative;
            &-hover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                opacity: 0;
                transition: opacity 0.5s ease;
                z-index: 2;
            }
        }
        .gallery-item:hover .gallery-item-hover {
            opacity: 1;
        }
        .gallery-item:hover img {
            transform: scale(1.3) rotate(5deg);
        }
        .gallery-item img {
            max-width: 100%;
            height: auto;
            transition: all 0.5s ease;
        }
    }
    &-list._active {
        transform: translate(0, 0);
        opacity: 1;
    }
}

//1440px
//REVIEWS
.reviews {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 77px 0;
    &-title {
        h1 {
            @extend %sections_header;
        }
        margin-bottom: 30px;
        transform: translate(0,
        120%);
        opacity: 0;
        transition: all 0.8s ease 0.2s;
    }
    &-title._active {
        transform: translate(0, 0);
        opacity: 1;
    }
    &-comments {
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: flex-end;
        .comment {
            transform: translate(0, 120%);
            opacity: 0;
            transition: all 0.8s ease 0s;
            .text {
                box-shadow: 0 0 10px 5px rgb(231, 231, 231);
                border-radius: 30px;
                @extend %paragraph;
                font-size: 17px;
                text-transform: initial;
                padding: 51px;
                text-align: left;
                width: 482px;
                position: relative;
                .quotes {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    img {
                        width: 80%;
                    }
                }
            }
            .avatar {
                display: flex;
                margin-top: 15px;
                align-items: center;
                .img img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                .name {
                    text-align: left;
                    h1 {
                        font-weight: 800;
                        font-size: 20px;
                        color: $button-text-color;
                    }
                    p {
                        font-weight: 500;
                        font-size: 19px;
                        color: $button-text-color;
                    }
                }
            }
        }
        .comment._active {
            transform: translate(0, 0);
            opacity: 1;
        }
        .comment:nth-child(1) {
            transition: all 0.8s ease 0s;
        }
        .comment:nth-child(2) {
            transition: all 0.8s ease 0.2s;
        }
        .comment:nth-child(3) {
            transition: all 0.8s ease 0.4s;
        }
    }
}

//BASEMENT
.basement {
    background-color: $yellow-color;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    overflow: hidden;
    &-ending {
        transform: translate(-120%, 0);
        opacity: 0;
        transition: all 0.8s ease 0.2s;
        h1 {
            font-weight: 700;
            font-size: 26px;
            color: $button-text-color;
            margin-bottom: 5px;
        }
        a {
            font-weight: 300;
            font-size: 20px;
            color: $button-text-color;
            transition: 0.2s;
            text-decoration: none;
            font-family: "Oswald", sans-serif;
        }
        a:hover {
            text-decoration: underline;
        }
        @extend %connection;
        .title {
            @extend %sections_header;
            font-size: 56px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        .contact {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .social {
            .link {
                width: 90px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                img {
                    cursor: pointer;
                }
            }
        }
    }
    &-ending._active {
        opacity: 1;
        transform: translate(0, 0);
    }
    &-img {
        transform: translate(120%, 0);
        opacity: 0;
        transition: all 0.8s ease 0.2s;
        width: 25%;
        img {
            width: 100%;
        }
    }
    &-img._active {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.advertising {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111;
    border-top: 2px solid rgb(59, 59, 59);
    color: rgb(92, 92, 92);
    font-weight: 600;
    padding: 20px 200px;
    overflow: hidden;
    a {
        color: rgb(92, 92, 92);
        text-decoration: none;
        font-weight: 600;
    }
    a:hover {
        color: #fff;
    }
    .main {
        transform: translate(-120%, 0);
        opacity: 0;
        transition: all 0.8s ease 0.2s;
    }
    .main._active {
        transform: translate(0, 0);
        opacity: 1;
    }
    .developers {
        transform: translate(120%, 0);
        opacity: 0;
        transition: all 0.8s ease 0.2s;
    }
    .developers._active {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.slider__control.slider__control_right.slider__control_show {
    display: none;
}

.teachers .slider__wrapper {
    align-items: center;
    justify-content: center;
}

@import "./adaptive";